/* * {
  outline: 1px solid #944ceb;
  min-height: 30px;
  min-width: 30px;
} */

.wrapper {
  background-color: darkgrey;
  width: 950px;
  height: 700px;
  padding-top: 17%;
}
.cell {
  background-color: #98939e;
  border-radius: 10px;
  width: 290px;
  height: 150px;
  margin-left: 35%;
  padding-bottom: 10px;



}
.row1 {
  margin-left: 42px;
  margin-bottom: 5px;
}
.row2 {
  margin-left: 42px;

}
.select {
  font-size: 30px;
  color: #df9f11;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  padding-top: 10px;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
button {
  border-radius: 5px;
  width: 65px;
  height: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px #18163e;
}
